<html>
  <head>
    <title><%= klass.full_name %></title>
    
    <style>
      body { font-family: sans-serif; background: #ccc; }
      h1 { background: #240000; padding: 25px 10px 10px 10px; color: white; }
      h1 span { color: #462222; }
      h2 { color: #666; }
      h3 { color: #999; font-size: 14pt; }
      ul.methods { list-style-type: none; padding: 0px 0px 0px 1.5em; }
      h4 { border: 1px solid #000050; margin: 0px; padding: 5px 10px; background: #000024; color: white; font-size: 16pt; }
      p.method_doc { background: white; margin: 0px 0px 5px 0px; padding: 25px; }
      h4 span.params { color: #333346; }
    </style>
  </head>
  
  <body>
    <h1><span>class</span> <%= klass.full_name %></h1>
    <p><%= markup.convert(klass.comment.clean, html).strip %></p>
    
    <% if methods[:instance][:public] != [] || methods[:instance][:private] != [] %>
      <h2>Instance Methods</h2>
      
      <% if methods[:instance][:public] != [] %>
        <h3>Public Methods</h3>
        <ul class="methods">
          <% methods[:instance][:public].each do |meth| %>
          <li>
            <h4><%= meth.name %><span class="params"><%= meth.params unless meth.params == '()' %></span></h4>
            <% unless meth.comment.nil? || meth.comment == '' %>
              <p class="method_doc"><%= markup.convert(meth.comment.clean, html).strip || '' %></p>
            <% else %>
              <br />
            <% end %>
          </li>
          <% end %>
        </ul>
      <% end %>
  
      <% if methods[:instance][:private] != [] %>
        <h3>Private Methods</h3>
        <ul class="methods">
          <% methods[:instance][:private].each do |meth| %>
          <li>
            <h4><%= meth.name %><span class="params"><%= meth.params unless meth.params == '()' %></span></h4>
            <% unless meth.comment.nil? || meth.comment == '' %>
              <p class="method_doc"><%= markup.convert(meth.comment.clean, html).strip || '' %></p>
            <% else %>
              <br />
            <% end %>
          </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    
    <% if methods[:instance][:public] != [] || methods[:instance][:private] != [] %>
      <h2>Class Methods</h2>
      
      <% if methods[:class][:public] != [] %>      
        <h3>Public Methods</h3>
        <ul class="methods">
          <% methods[:class][:public].each do |meth| %>
          <li>
            <h4><%= meth.name %><span class="params"><%= meth.params unless meth.params == '()' %></span></h4>
            <% unless meth.comment.nil? || meth.comment == '' %>
              <p class="method_doc"><%= markup.convert(meth.comment.clean, html).strip || '' %></p>
            <% else %>
              <br />
            <% end %>
          </li>
          <% end %>
        </ul>
      <% end %>
  
      <% if methods[:class][:private] != [] %>      
        <h3>Private Methods</h3>
        <ul class="methods">
          <% methods[:class][:private].each do |meth| %>
          <li>
            <h4><%= meth.name %><span class="params"><%= meth.params unless meth.params == '()' %></span></h4>
            <% unless meth.comment.nil? || meth.comment == '' %>
              <p class="method_doc"><%= markup.convert(meth.comment.clean, html).strip || '' %></p>
            <% else %>
              <br />
            <% end %>
          </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    
  </body>
</html>